// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/forest';
// Override variables here
@import 'styles/conduit';

$green: $conduit-green;
$grey: $conduit-grey;

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

* {
  font-family: $conduit-font-family;
}


.mdi, .mdi:before {
  font-family: 'Material Design Icons', 'MaterialDesignIcons';
}

ActionBar {
  background-color: $green;
  color: white;
}

.title {
  text-align: left;
  padding-left: 16;
}

.message {
  vertical-align: center;
  text-align: center;
  font-size: 20;
  color: #333333;
}

.drawer-header {
  padding: 50 16 16 16;
  margin-bottom: 16;
  background-color: $green;
  color: #ffffff;
  font-size: 24;
}

.drawer-item {
  padding: 8 16;
  color: #333333;
  font-size: 16;
}